@model WebApplication1.Models.RentalInfo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>RentalInfo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bike.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bike.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.User.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalInfoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
