@model IEnumerable<WebApplication1.Models.RentalInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Bike.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.LastName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Bike.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.LastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.RentalInfoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.RentalInfoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.RentalInfoID })
        </td>
    </tr>
}

</table>
